<%- include('../partials/header') %>


<div class="m-5">
<h2>Categorías y Productos</h2>
</div>
<div class="m-5">

    <nav class="nav nav-pills  nav-fill">
        <a class="nav-link" href="#">Tecnologia</a>
        <a class="nav-link" href="#">Moda</a>
        <a class="nav-link" href="#">Hogar y jardín</a>
        <a class="nav-link" href="#">Deportes</a>
        <a class="nav-link" href="#">Juguetes</a>
        <a class="nav-link" href="#">Alimentos y bebidas</a>
        <a class="nav-link" href="#">Libros</a>
    </nav>
</div>
    

 

<%- include('../partials/footer') %>
