<%- include('../partials/header') %>
<div class="banner d-flex align-items-center">
  <div class="container d-flex flex-column justify-content-start text-light">
    <div class="mb-3">
      <h1>Ecommerce name</h1> 
      <h3>Heading 3</h3>
    </div>
    <div class="col-md-4">
      <form class="d-flex flex-row">
        <input class="form-control me-2" type="search" placeholder="Search" />
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</div>

<div class="p-4 bg-danger-subtle text-emphasis-danger">
  <div class="container">
    <div class="d-flex flex-row justify-content-Evenly">
      <div class="text-dark lead">Productos de calidad</div>
      <div class="text-dark lead">Envios a todo el pais</div>
      <div class="text-dark lead">Devolucion de 30 dias</div>
    </div>
  </div>
</div>
<div class="">
  <div class=""></div>
</div>

<%- include('../partials/footer') %>
