
<%- include('../partials/hero') %>

<footer id="footer" class="footer pt-5 pb-5 ">
    <div class="container">
        <div class="d-flex flex-row justify-content-Evenly">
            <div class="col-3 menu">
                    <a class="enlace" href="#">Para tu Negocio</a>
                    <a class="enlace" href="#">Aplicaciones Móviles</a>
                    <a class="enlace" href="#">Soporte</a>
                    <a class="enlace" href="#">Temas</a>
            </div>
            <div class="col-3 menu">
                    <a class="enlace" href="#">¿Quienes Somos?</a>
                    <a class="enlace" href="#">Empleo</a>
                    <a class="enlace" href="#">Blog</a>
            </div>
            <div class="col-3 menu">
                    <a class="enlace" href="#">Instagram</a>
                    <a class="enlace" href="#">Faceboook</a>
                    <a class="enlace" href="#">Blog</a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/carrito.js"></script>
</body>

</html>